// Color Palette
$white: #ffffff;
$primary_50: #eceff1;
$primary_100: #cfd8dc;
$primary_200: #b0bec5;
$primary_300: #90a4ae;
$primary_400: #78909c;
$primary_500: #607d8b;
$primary_600: #546e7a;
$primary_700: #455a64;
$primary_800: #37474f;
$primary_900: #263238;

$secondary_50: #E0F7FA;
$secondary_100: #B2EBF2;
$secondary_200: #80DEEA;
$secondary_300: #4DD0E1;
$secondary_400: #26C6DA;
$secondary_500: #00BCD4;
$secondary_600: #00ACC1;
$secondary_700: #0097A7;
$secondary_800: #00838F;
$secondary_900: #006064;
