// Color Palette
$white: #FFFFFF;
$primary_50: #FAFAFA;
$primary_100: #F5F5F5;
$primary_200: #EEEEEE;
$primary_300: #E0E0E0;
$primary_400: #BDBDBD;
$primary_500: #9E9E9E;
$primary_600: #757575;
$primary_700: #616161;
$primary_800: #424242;
$primary_900: #212121;