// Color Palette

// gray
// $white: #FFFFFF;
// $primary_50: #FAFAFA;
// $primary_100: #F5F5F5;
// $primary_200: #EEEEEE;
// $primary_300: #E0E0E0;
// $primary_400: #BDBDBD;
// $primary_500: #9E9E9E;
// $primary_600: #757575;
// $primary_700: #616161;
// $primary_800: #424242;
// $primary_900: #212121;

$white: #FFFFFF;
$primary_50: #ECEFF1;
$primary_100: #CFD8DC;
$primary_200: #B0BEC5;
$primary_300: #90A4AE;
$primary_400: #78909C;
$primary_500: #607D8B;
$primary_600: #546E7A;
$primary_700: #455A64;
$primary_800: #37474F;
$primary_900: #263238;
