@import 'featurePopups/unpinned';
@import 'featurePopups/pinned';
@import 'featurePopups/mobile';

// tabs
@import 'featurePopups/tabs/data-tab';
@import 'featurePopups/tabs/profile-tab';
@import 'featurePopups/tabs/recession-tab';

// Both Leaflet Popups and Pinned Popups
.wiscviewer-feature-popup {
  font-size: 12px;
  font-family: 'Roboto';
  background-color: $primary_800;
  color: $primary_100;
  border-radius: 3px;

  &:focus {
    outline: none;
  }

  a {
    button,
    button:active {
      font-size: inherit;
      padding: 5px 10px;
      border: 0;
      border-radius: 0;
      background-color: $primary_800;
      color: $primary_200;
      outline: none;

      &:hover {
        color: $primary_50;
        background-color: $primary_800;
      }
    }
  }
}

.wiscviewer-feature-popup-header {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  height: 34px;
  background-color: $primary_900;
}

.wiscviewer-feature-popup-title {
  width: 100%;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  letter-spacing: 1.6px;

  .fa-chevron-right {
    font-size: 10px;
    margin: 0 5px;
    color: $primary_300;
  }
}

.wiscviewer-feature-popup-controls {
  color: $primary_300;
  margin: 2px 10px 0 0;
  font-size: 20px;
  float: right;

  > i {
    margin-left: 15px;
  }

  span {
    margin-left: 15px;

    > i:not(:first-child) {
      margin-left: 10px;
    }
  }

  i {
    &:hover {
      color: $primary_50;
      cursor: pointer;
    }
  }
}

.wiscviewer-feature-popup-body {
  padding: 0;
  border-radius: 3px;

  .nav-tabs {
    border: 0;
    font-size: 14px;
    height: 34px;

    li {
      height: 100%;

      a {
        height: 100%;
        padding: 5px 10px;
        border: 0;
        border-radius: 0;

        &:first-child {
          border-top-left-radius: 3px;
        }

        &[aria-selected='true'] {
          background-color: $primary_800;
          color: $primary_50;
          text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

          &:hover,
          &:focus {
            border: none;
          }
        }

        &[aria-selected='false'] {
          color: $primary_200;
          background-color: inherit;

          &:hover {
            color: $primary_50;
          }
        }
      }
    }
  }

  .tab-content {
    background-color: $primary_100;
    border-width: 0 0 4px;

    img {
      width: 100%;
      display: block;
    }
  }
}

.wiscviewer-feature-popup-footer {
  padding: 10px;
  background-color: $primary_900;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  a {
    margin-left: 5px;
  }
}

.wiscviewer-popup-downloads-row {
  padding: 10px 0 0;
  color: $primary_200;

  > i {
    margin-left: 5px;
  }

  a {
    margin-left: 15px;

    i {
      margin-right: 5px;
    }
  }
}
