.wiscviewer-map {
  height: 100%;
  width: 100%;
}

// Leaflet Modifications
.leaflet-control-zoom.leaflet-bar {
  border: 0;

  a {
    background-color: $primary_50;
  }

  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    background-color: $primary_800;
    color: $primary_100;

    &:hover {
      color: $primary_50;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }
  }

  .leaflet-control-zoom-in {
    border-radius: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid $primary_300;
  }

  .leaflet-control-zoom-out {
    border-radius: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }
}

.leaflet-control-scale-line {
  background-color: $primary_800;
  color: $primary_200;
  border: none;
  font-family: 'Open Sans';
}

.leaflet-control-scale-line:not(:first-child) {
  border: none;
  margin-top: -2px;
}

.leaflet-container .leaflet-control-mouseposition {
  margin-left: 5px;
  margin-bottom: 5px;
  background-color: $primary_800;
  border: none;
  color: $primary_200;
  font: 11px 'Open Sans';
}
