.wiscviewer-map {

  height: 100%;

  @for $zoom-level from 1 through 18 {
    $profile-width: 1 + (0.3 * $zoom-level);
    $line-width: 4 + (0.6 * $zoom-level);

    @if $zoom-level > 15 {
      $line-width: 4 + (0.8 * $zoom-level);
    }
    $dot-stroke: 1 + (0.4 * $zoom-level);

    @if $zoom-level > 13 {
      $dot-stroke: 1 + (0.6 * $zoom-level);
    }

    @if $zoom-level > 15 {
      $dot-stroke: 1 + (0.8 * $zoom-level);
    }
    $zoom-selector: 'data-zoom=\'' + $zoom-level + '\'';

    &[#{$zoom-selector}] {
      .layer-type-Point,
      .layer-photos_1976,
      .layer-photos_2007,
      .layer-structure_1976,
      .layer-structure_2007 {
        stroke-width: $dot-stroke;

        &:hover {
          stroke-width: $dot-stroke + 2;
        }
      }

      .layer-type-MultiLineString,
      .layer-type-LineString,
      .layer-beachclass_1976,
      .layer-beachclass_2007,
      .layer-backshore_1976,
      .layer-backshore_2007 {
        stroke-width: $line-width;

        @if $zoom-level > 10 {
          stroke-linecap: butt;
        }

        &:hover {
          stroke-width: $line-width + 2;
          stroke-linecap: round;
        }
      }

      .layer-profiles {
        stroke-width: $profile-width;
        stroke-linecap: round !important;

        &:hover {
          stroke-width: $profile-width + 2;
        }
      }
    }
  }
}

// Leaflet Modifications
.leaflet-control-zoom.leaflet-bar {
  border: 0;

  a {
    background-color: $primary_50;
  }

  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    background-color: $primary_700;
    color: $primary_100;
  }

  .leaflet-control-zoom-in {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }

  .leaflet-control-zoom-out {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }
}
