.wiscviewer-modal {
  color: $primary_100;
  .modal-dialog {
    z-index: 600;
    max-height: calc(100% - 20px);
  }

  .modal-content {
    background-color: $primary_50;
  }

  .modal-header {
    background-color: $primary_700;
    border: 0;
  }

  .modal-footer {
    background-color: $primary_600;
    border: 0;
  }

  .btn {
    border: 0;
    background-color: $primary_400;
    color: $primary_50;
    font-size: 18px;

    &:hover {
      background-color: $primary_700;
    }
  }
}

.wiscviewer-mobile-modal {
  font-size: 18px;

  .modal-dialog {
    height: calc(100% - 20px);
  }

  .modal-content {
    height: 100%;
    max-height: 800px;
  }

  .modal-header {
    height: 50px;
  }

  .modal-body {
    height: calc(100% - 110px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .modal-footer {
    height: 60px;
    padding: 10px;
  }

  .modal-header {
    i {
      margin: 0 10px;
    }
  }

  .modal-footer {
    button:not(:first-child) {
      margin-left: 10px;
    }
  }
}

.wiscviewer-mobile-feature-popup {
  .nav-tabs {
    border-bottom: 1px solid $primary_600;

    li {
      a {
        padding: 10px 20px;
        border: 0;

        &[aria-selected=true] {
          background-color: $primary_600;
          color: $primary_50;
          &:hover,
          &:focus {
            border: 0;
          }
        }

        &[aria-selected=false] {
          background-color: $primary_100;
          color: $primary_900;
          border-bottom: 1px solid $primary_600;

          &:hover {
            background-color: $primary_300;
          }
        }
      }
    }
  }

  .tab-content {
    border: 1px solid $primary_600;
    background-color: $primary_100;
    border-width: 3px 0 0;
    padding: 10px;
    overflow-x: auto;

    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }

    table {
      margin-bottom: 0;

      tr {
        &:hover {
          background-color: $primary_200;
        }

        td {
          border: 1px solid $primary_400;
        }
      }
    }

    .profile-image-button-row,
    .photo-image-button-row {
      text-align: center;
      padding: 10px 0 0;

      button {
        padding: 10px 20px;
      }
    }
  }

  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #ffffff;

    &:hover {
      background-color: $primary_200;
    }
  }

  .table-striped > tbody > tr:nth-of-type(even) {
    background-color: $primary_50;

    &:hover {
      background-color: $primary_200;
    }
  }

  .wiscviewer-popup-title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.wiscviewer-mobile-layers-list {
  .panel {
    background-color: $primary_100;
    border: 0;
  }

  .panel-heading {
    color: $primary_900;
    background-color: $primary_400;
    border: 0;

    i {
      float: right;
      line-height: inherit;
      color: $primary_100;
    }
  }

  .modal-body {
    padding: 0;
  }

  .panel-body {
    padding: 0;
    border: 0;
    background-color: $primary_100;
  }

  .list-group {
    padding: 0;
    border-width: 0;
    border-radius: 0;
    margin-bottom: 0;
  }

  .list-group-item {
    background-color: $primary_100;
    border-color: $primary_400;
    color: $primary_900;
    border-width: 1px 0 0;
    border-radius: 0;

    &.active {
      background-color: $primary_700;
      border-color: $primary_400;
      color: $primary_50;
    }
  }
}
