.wiscviewer-nav-container {
  nav {
    color: $primary_50;
    border: 0;
    border-radius: 0;
    background-color: $primary_700;
    margin-bottom: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    z-index: 500;
  }
}

.wiscviewer-logo {
  width: 50px;
  height: 50px;
  float: left;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.wiscviewer-brand {
  color: $primary_50 !important;
  font-family: $font_header;
  font-size: 20px;
  padding: 18px 15px 12px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

  &::before {
    content: 'WI Shoreline Inventory';
  }
}

@media (min-width: 768px) {
  .wiscviewer-brand::before {
    content: 'Wisconsin Shoreline Inventory';
  }
}

@media (min-width: 992px) {
  .wiscviewer-brand::before {
    content: 'Wisconsin Shoreline Inventory and Oblique Viewer';
  }
}

// Upper level buttons in nav
.wiscviewer-nav-tool {
  font-size: 16px;

  > a {
    color: $primary_100 !important;

    &:hover {
      color: $primary_50 !important;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }
  }
}

.wiscviewer-nav-tool-icon {
  margin-right: 10px;
  color: $primary_300;

  path {
    fill: $primary_300;
  }

  svg {
    width: 22px;
    height: 30px;
    display: inline-block;
    float: left;
    margin: -5px 0 auto -7px;
  }
}

.wiscviewer-mobile-toggle {
  border: 0;
  font-size: 30px;
  padding: 5px 20px;
  height: 50px;
  margin: 0;

  &:hover,
  &:focus {
    color: $white;
    background-color: $primary_700 !important;
  }

  &:active {
    background-color: $primary_800 !important;
  }
}

.wiscviewer-nav-tool-zoom {
  .caret {
    display: none;
  }

  > a::after {
    content: 'Shorelines';
  }
}

.wiscviewer-nav-tool-reset {
  > a::after {
    content: 'Reset';
  }
}

.wiscviewer-nav-tool-about {
  > a::after {
    content: 'About';
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .wiscviewer-nav-tool-zoom {
    // just the primary button
    > a .SVGInline {
      display: block;
      height: 20px;

      svg {
        margin: -5px 0 auto;
      }
    }
  }

  .wiscviewer-nav-tool {
    font-size: 20px;

    > a {
      i {
        margin-right: 0;
        color: $primary_100;
      }

      svg path {
        fill: $primary_100;
      }
    }
  }

  .wiscviewer-nav-tool-zoom {
    > a::after {
      content: '';
    }

    .caret {
      display: none;
    }
  }

  .wiscviewer-nav-tool-reset {
    a::after {
      content: '';
    }
  }

  .wiscviewer-nav-tool-about {
    a::after {
      content: '';
    }
  }
}

@media (max-width: 767px) {
  // allow scrolling if dropdown gets too long
  .wiscviewer-nav-container {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .navbar-nav > li > a {
    line-height: 40px;
  }

  .wiscviewer-nav-tools {
    border: 0 solid $primary_300;
    height: calc(100% - 50px);
    overflow-x: hidden;
    overflow-y: hidden;

    .navbar-nav {
      font-size: 20px;
      height: 100%;
      margin: 0 -15px;
      overflow-y: auto;
    }
  }

  .wiscviewer-nav-tool {
    font-size: 20px;
  }

  .wiscviewer-nav-tool-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 30px;

    svg {
      width: 20px;
      height: 30px;
      margin: -5px 0 0 -3px;
    }
  }

  .wiscviewer-nav-tool-zoom {
    .caret {
      display: none;
    }

    > a::after {
      content: 'Shorelines';
      margin-left: -5px;
    }
  }
}
