.wiscviewer-nav-container {
  nav {
    color: $primary_50;
    border-width: 0;
    border-radius: 0;
    background-color: $primary_700;
    margin-bottom: 0;
  }

  .navbar-toggle {
    border-radius: 3px;
    border-color: $primary_300;
  }
}

.wiscviewer-logo {
  width: 50px;
  height: 50px;
  float: left;
}

.wiscviewer-brand {
  color: $primary_50 !important;
  font-family: $font_header;
  font-size: 20px;
  padding: 18px 15px 12px 15px;
  &:before {
    content: 'WI Shoreline Inventory';
  }
}

@media (min-width: 768px) {
  .wiscviewer-brand:before {
    content: 'Wisconsin Shoreline Inventory';
  }
}

@media (min-width: 992px) {
  .wiscviewer-brand:before {
    content: 'Wisconsin Shoreline Inventory and Oblique Viewer';
  }
}

.wiscviewer-nav-tool {
  color: $primary_100;
  font-size: 16px;
  a,
  a:hover {
    color: $primary_100 !important;
  }
}

.wiscviewer-nav-dropdown {
  &.open {
    > a {
      background-color: $primary_800 !important;

      &:active,
      &:focus {
        color: $primary_50;
      }
    }
  }

  .dropdown-menu {
    z-index: 500;
    background-color: $primary_800;
  }
}

.wiscviewer-dropdown-item {
  text-transform: capitalize;
  background-color: $primary_800;
  padding: 5px 0px;
  &:not(:last-child) {
    border: 0px solid $primary_700;
    border-bottom-width: 1px;
  }
  &:active,
  &:hover {
    outline: none;
    background-color: $primary_900 !important;
    a {
      outline: none;
      background-color: $primary_900 !important;
    }
  }
  &:focus {
    outline: none;
  }
}

.wiscviewer-mobile-toggle {
  border: 0;
  font-size: 30px;
  padding: 5px 20px;
  height: 50px;
  margin: 0;
  &:hover,
  &:focus {
    color: $white;
    background-color: $primary_700 !important;
  }
  &:active {
    background-color: $primary_800 !important;
  }
}

.wiscviewer-nav-tool-icon {
  margin-right: 10px;
  color: $primary_200;
}

.wiscviewer-nav-tool-zoom {
  .wiscviewer-tool-title:after {
    content: "Shoreline"
  }
}

.wiscviewer-nav-tool-reset {
  a:after {
    content: "Reset"
  }
}

.wiscviewer-nav-tool-about {
  a:after {
    content: "About"
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .wiscviewer-nav-tool {
    font-size: 20px;
  }

  .wiscviewer-nav-tool-zoom {
    .wiscviewer-tool-title:after {
      content: ""
    }
    .caret {
      display: none;
    }
  }

  .wiscviewer-nav-tool-reset {
    a:after {
      content: ""
    }
  }

  .wiscviewer-nav-tool-about {
    a:after {
      content: ""
    }
  }
}

@media (max-width: 767px) {
  .wiscviewer-nav-tools {
    border: 0px solid $primary_300;
    height: calc(100% - 50px);
    overflow-x: hidden;
    overflow-y: hidden;
    .navbar-nav {
      font-size: 20px;
      height: 100%;
      margin: 0 -15px;
      overflow-y: auto;
    }
  }

  .wiscviewer-dropdown-item {
    font-size: 18px;
    padding: 5px 0;
  }

  .wiscviewer-nav-tool-icon {
    margin-right: 20px;
  }
}
