// Unpinned Leaflet Feature Popups
.leaflet-popup-content-wrapper {
  margin: 0;
  border-radius: 3px;
  background-color: $primary_50;
  padding: 1px 0 1px 1px;
  width: 350px;

  .leaflet-popup-content {
    margin: -1px;
  }
}

.leaflet-popup-tip {
  background-color: $primary_800;
}

// Pinned Feature Popup Container
.wiscviewer-pinned-feature-popup-container {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  overflow: visible;
  z-index: 1100;

  * {
    pointer-events: auto;
  }
}

.wiscviewer-pinned-feature-popup {
  position: absolute;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  .wiscviewer-feature-popup-header {
    cursor: move;
  }
}

// Both Leaflet Popups and Pinned Popups
.wiscviewer-feature-popup {
  font-size: 12px;
  font-family: 'Roboto';
  width: 350px;
  background-color: $primary_800;
  color: $primary_100;
  border-radius: 3px;
  &:focus {
    outline: none;
  }
  a {
    button {
      font-size: inherit;
      padding: 5px 10px;
      border: 0;
      background-color: $primary_900;
      color: $primary_200;

      &:hover {
        color: $primary_50;
        background-color: $primary_900;
      }
    }
  }
}

.wiscviewer-feature-popup-header {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  height: 30px;
}

.wiscviewer-feature-popup-title {
  width: 100%;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  .fa-chevron-right {
    font-size: 10px;
    margin: 0 5px;
    color: $primary_300;
  }
}

.wiscviewer-feature-popup-controls {
  color: $primary_200;
  margin: 2px 10px 0 0;
  font-size: 20px;
  float: right;

  i {
    margin-left: 10px;

    &:hover {
      color: $primary_50;
      cursor: pointer;
    }
  }
}

.wiscviewer-feature-popup-body {
  padding: 0 0 0 0;
  border-radius: 3px;

  .nav-tabs {
    padding-top: 2px;
    border-bottom: 1px solid $primary_900;
    font-size: 14px;

    li {
      a {
        padding: 5px 10px;
        border: 0;
        border-radius: 0;

        &:first-child {
          border-top-left-radius: 3px;
        }

        &[aria-selected=true] {
          background-color: inherit;
          color: $primary_50;

          &:hover,
          &:focus {
            border: none;
          }
        }

        &[aria-selected=false] {
          color: $primary_200;
          border-bottom: 1px solid $primary_900;
          background-color: inherit;
          &:hover {
            border: none;
            border-bottom: 1px solid $primary_900;
            color: $primary_50;
            background-color: $primary_800;
          }
        }
      }
    }
  }

  .tab-content {
    border: 1px solid $primary_900;
    background-color: $primary_100;
    border-width: 3px 0 4px;

    img {
      width: 100%;
      display: block;
    }
  }
}

.wiscviewer-data-table {
  width: 350px;
  margin-bottom: 0;
  font-size: 12px;
  color: $primary_900;

  tr {
    &:hover {
      background-color: $primary_200;
    }

    td {
      border: 1px solid $primary_400;
    }
  }

  tr:nth-of-type(odd) {
    background-color: #ffffff;

    &:hover {
      background-color: $primary_200;
    }
  }

  tr:nth-of-type(even) {
    background-color: $primary_50;

    &:hover {
      background-color: $primary_200;
    }
  }
}

.wiscviewer-feature-popup-footer {
  padding: 5px 10px;
  background-color: $primary_800;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  a {
    margin-left: 5px;
  }
}

.wiscviewer-popup-downloads-row {
  padding: 10px 0 0;
  color: $primary_200;
}

.wiscviewer-profile-tab {
  .lake-stats {
    stroke-width: 1px;
  }
  .michigan-avg {
    stroke: $primary_700;
  }
  .michigan-high {
    stroke: $primary_600;
  }
  .michigan-low {
    stroke: $primary_600;
  }
  .tick {
    font-family: $font-body;
    line {
      stroke: $primary_600;
    }
    text {
      fill: $primary_400;
    }
  }
  .domain {
    stroke-width: 3px;
    stroke: $primary_600;
    stroke-linecap: butt;
  }
  .line {
    stroke: $secondary_300;
    stroke-width: 2px;
    fill: none;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  .wiscviewer-profile-graph {
    background-color: $primary_900;
  }
}
