$hide_scroll_padding: 17px;

.wiscviewer-sidebar {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  z-index: 500;
  background-color: $primary_800;
  color: $primary_50;
  padding: 0;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.wiscviewer-sidebar-inner-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
}

.wiscviewer-sidebar-tabs {
  margin-bottom: 3px;
  div {
    display: inline-block;
    width: 50%;
    padding: 10px 5px 10px 5px;
    text-align: center;
    color: $primary_500;
    background-color: $primary_900;
    font-size: 14px;
    &.active {
      color: $primary_100;
      background-color: $primary_800;
    }
    &:hover {
      color: $primary_100;
      cursor: pointer;
    }
  }
}

.wiscviewer-sidebar-panel {
  background-color: $primary_800;
  margin: 0 !important;
  border: 0;
}

.wiscviewer-sidebar-panel-body {
  background-color: $primary_800;
  padding: 0;
  border: 0;
}

.wiscviewer-layer-list {
  margin: 0 !important;
}

.wiscviewer-layer-list-group {
  border-width: 0;
  border-radius: 0;
  margin: 0;
  .wiscviewer-layer-item,
  .wiscviewer-layer-item:focus {
    background-color: $primary_800;
    border-color: $primary_200;
    color: $primary_200;
    border-width: 0px 0 0;
    border-radius: 0;
    padding: 10px 10px;

    &:hover {
      color: $primary_50;
      background-color: $primary_800;
    }

    &.active {
      color: $primary_50;
    }
  }
}

.wiscviewer-sidebar-panel-header {
  color: $primary_100 !important;
  background-color: $primary_900 !important;
  border: 0;
  padding: 15px;
  font-size: 16px;
  border-radius: 0;

  &:hover {
    cursor: default;
  }
}

.wiscviewer-legend-list {
  padding: 10px 15px;
  margin: 0;
  list-style: none;
  text-transform: capitalize;
  color: $primary_200;

  i {
    margin-right: 10px;

    &.fa-circle {
      font-size: 10px;
    }
  }
}

.wiscviewer-layer-left-icon {
  margin-left: 5px;
  margin-right: 15px;
  color: $primary_500;
  &.active {
    color: #8BC34A;
  }
}

.wiscviewer-layer-group-icon {
  float: right;
  color: $primary_300;
}

.wiscviewer-sidebar-panel-header,
.wiscviewer-layer-item {
  &:focus {
    outline: none;
  }
}
