@import 'sidebar/legend';
$hide_scroll_padding: 17px;

.wiscviewer-sidebar {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  z-index: 500;
  background-color: $primary_800;
  color: $primary_50;
  padding: 0;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.wiscviewer-sidebar-inner-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -17px;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;

  // there's a -17px buffer on the sidebar inner container to hide the scrollbar
  // this adjusts the content so that -17px margin isn't visible
  .wiscviewer-sidebar-tabs,
  .wiscviewer-sidebar-tab-content {
    margin-right: 17px;
    // width: 100%;
  }
}

.wiscviewer-sidebar-tabs {
  margin-bottom: 3px;
  margin-right: 17px;

  div {
    display: inline-block;
    width: 50%;
    padding: 10px 5px;
    text-align: center;
    color: $primary_500;
    background-color: $primary_900;
    font-size: 14px;

    &:focus {
      outline: none;
    }

    &.active {
      color: $primary_100;
      background-color: $primary_800;
    }

    &:hover {
      color: $primary_100;
      cursor: pointer;
    }

    &:first-child:not(.active) {
      box-shadow: inset -3px 3px 10px rgba(0, 0, 0, 0.1);
    }

    &:last-child:not(.active) {
      box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.1);
    }
  }
}

.wiscviewer-sidebar-panel {
  background-color: $primary_800;
  margin: 0 !important;
  border: 0;
}

.wiscviewer-sidebar-panel-body {
  background-color: $primary_800;
  padding: 0;
  border: 0;
}

.wiscviewer-layer-list {
  margin: 0 !important;
}

.wiscviewer-layer-list-group {
  border-width: 0;
  border-radius: 0;
  margin: 0;
  background-color: $primary_800;
  //box-shadow: inset 0px 3px 10px rgba(0,0,0,0.10);

  .wiscviewer-layer-item,
  .wiscviewer-layer-item:focus {
    color: $primary_200;
    border-radius: 0;
    padding: 10px;
    background-color: transparent;
    border: none;

    &:hover {
      color: $primary_50;
      background-color: $primary_800;
    }

    &.active {
      color: $primary_50;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }
  }
}

.wiscviewer-sidebar-panel-header {
  background-color: $primary_900 !important;
  border: 0;
  padding: 15px;
  font-size: 16px;
  border-radius: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .wiscviewer-layer-group-name {

  }
  .wiscviewer-layer-group-info,
  .wiscviewer-layer-group-info > a {
    color: $primary_400;
  }
  &:hover {
    cursor: default;
  }

}

.wiscviewer-layer-left-icon {
  margin-left: 5px;
  margin-right: 15px;
  color: $primary_500;

  &.active {
    color: #8bc34a;
  }

  &.error {
    color: #ffeb3b;
  }
}

.wiscviewer-layer-group-icon {
  float: right;
  color: $primary_300;
}

.wiscviewer-sidebar-panel-header,
.wiscviewer-layer-item {
  &:focus {
    outline: none;
  }
}

.wiscviewer-sidebar-toggle {
  position: absolute;
  top: 300px;
  top: 40vh;
  left: 0;
  height: 50px;
  width: 20px;
  background-color: $primary_800;
  color: $primary_100;
  z-index: 450;
  line-height: 50px;
  text-align: center;

  &:hover {
    cursor: pointer;
    color: $primary_50;
  }
}




