// Libraries
@import 'lib/bootstrap';
@import 'lib/leaflet';
@import 'lib/L.Control.MousePosition';
@import 'lib/font-awesome/font-awesome';
// Partials
@import 'colors';
// CSS
html {
    height: 100%;
    body {
        height: 100%;
        font-family: "Roboto";
    }
}

#react-root {
    height: 100%;
    .main-container {
        height: 100%;
        .navRow {
            nav {
                color: $primary_50;
                border-width: 0;
                border-radius: 0;
                background-color: $primary_700;
                margin-bottom: 0;
                .navbar-brand {
                    color: inherit;
                }
                .navbar-nav {
                    color: $primary_100;
                    li {
                        a {
                            color: inherit;
                        }
                    }
                    .dropdown {
                        &.open {
                            a {
                                background-color: $primary_800;
                            }
                        }
                        .dropdown-menu {
                            z-index: 9999;
                            background-color: $primary_800;
                            li {
                                background-color: $primary_800;
                                a {
                                    background-color: $primary_800;
                                    &:hover {
                                        background-color: $primary_700;
                                    }
                                }
                            }
                            .shoreline {
                                text-transform: capitalize;
                            }
                        }
                    }
                }
            }
        }
        .contentRow {
            height: 100%;
            margin-top: -52px;
            padding-top: 52px;
            .sidebar {
                background-color: $primary_400;
                padding-top: 20px;
                height: 100%;
                overflow-y: scroll;
                overflow-x: hidden;
                .panel {
                    margin-bottom: 10px;
                    border: 0;
                    .panel-heading {
                        color: $primary_50;
                        background-color: $primary_600;
                        border: 0;
                        padding: 5px 10px;
                        i {
                            float: right;
                            line-height: inherit;
                            color: $primary_100;
                        }
                        &:hover {
                            cursor: pointer;
                            background-color: $primary_700;
                        }
                    }
                    .panel-body {
                        background-color: $primary_200;
                        padding: 0;
                        border: 0;
                        .list-group {
                            border-width: 0;
                            border-radius: 0;
                            margin-bottom: 0;
                            .list-group-item {
                                background-color: $primary_200;
                                border-color: $primary_400;
                                color: $primary_800;
                                border-width: 1px 0 0 0;
                                border-radius: 0;
                                padding: 5px 10px;
                                &.active {
                                    background-color: $primary_800;
                                    border-color: $primary_400;
                                    color: $primary_100;
                                }
                            }
                        }
                    }
                }
                #legend {
                    .panel-body {
                        padding: 5px 10px;
                    }
                    .legend-list {
                        list-style: none;
                        text-transform: capitalize;
                        i {
                            margin-right: 10px;
                            &.fa-circle {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
            .map-container {
                height: 100%;
                padding: 0;
                #map {
                    height: 100%;
                }
                #map-popup {
                    .modal-content {
                        background-color: $primary_600;
                        .modal-header {
                            color: $primary_50;
                            border: 0;
                        }
                        .modal-body {
                            background-color: $primary_400;
                            max-height: 400px;
                            overflow-y: scroll;
                            .nav-tabs {
                                border-bottom: 1px solid $primary_600;
                                li {
                                    a {
                                        padding: 5px 10px;
                                        border: 0;
                                        &[aria-selected=true] {
                                            background-color: $primary_600;
                                            color: $primary_50;
                                        }
                                        &[aria-selected=false] {
                                            background-color: $primary_200;
                                            color: $primary_900;
                                            border-bottom: 1px solid $primary_600;
                                            &:hover {
                                                background-color: $primary_300;
                                            }
                                        }
                                    }
                                }
                            }
                            .tab-content {
                                border: 1px solid $primary_600;
                                background-color: $primary_200;
                                border-width: 3px 0 0 0;
                                padding: 10px;
                                img {
                                    max-width: 100%;
                                }
                                table {
                                    margin-bottom: 0;
                                }
                            }
                            .table-striped > tbody > tr:nth-of-type(odd) {
                                background-color: #ffffff;
                            }
                        }
                        .modal-footer {
                            border: 0;
                            color: $primary_100;
                            .open-larger-image-button {
                                margin-right: 10px;
                            }
                        }
                        .btn {
                            padding: 5px 10px;
                            border: 0;
                            background-color: $primary_200;
                            color: $primary_900;
                            &:hover {
                                background-color: $primary_300;
                                
                            }
                        }
                    }
                }
            }
        }
        #mobile-layers-list {
            .modal-dialog {
                height: 100%;
                overflow: scroll;
                .modal-body {
                    .panel-heading {
                        i {
                            float: right;
                            line-height: inherit;
                        }
                    }
                    .panel-body {
                        padding: 5px;
                        .list-group {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
