// Libraries
@import 'lib/bootstrap';
@import 'lib/leaflet';
@import 'lib/L.Control.MousePosition';
@import 'lib/font-awesome/font-awesome';
// Partials
@import 'colors';
@import 'modals';
@import 'nav';
@import 'sidebar';
@import 'animations';
// CSS
html {
    height: 100%;
    body {
        height: 100%;
        font-family: "Roboto";
    }
}

#react-root {
    height: 100%;
    .main-container {
        height: 100%;
        .contentRow {
            height: 100%;
            margin-top: -52px;
            padding-top: 52px;
            .map-container {
                height: 100%;
                padding: 0;
                #map {
                    height: 100%;
                }
            }
        }
    }
}

.leaflet-control-zoom.leaflet-bar {
    border: 0;
    .leaflet-control-zoom-in,
    .leaflet-control-zoom-out {
        color: $primary_900;
    }
    .leaflet-control-zoom-in {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }
    .leaflet-control-zoom-out {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }
}
