.wiscviewer-data-table {
  margin-bottom: 0;
  font-size: 12px;
  color: $primary_900;

  tr {
    td {
      border: none !important;
      &:first-child {
        text-align: left;
        color: $primary_900;
      }
      &:last-child {
        text-align: right;
      }
    }
  }

  tr:nth-of-type(odd) {
    background-color: $primary_100;

    &:hover {
      background-color: $primary_100;
    }
  }

  tr:nth-of-type(even) {
    background-color: $primary_50;

    &:hover {
      background-color: $primary_50;
    }
  }
}

.wiscviewer-mobile-feature-popup .wiscviewer-data-table {
    width: 100%;
    font-size: 14px;
}
