.wiscviewer-profile-tab {
  .lake-stats {
    stroke-width: 1px;
  }

  .michigan-avg {
    stroke: $primary_600;
  }

  .michigan-high {
    stroke: $primary_600;
  }

  .michigan-low {
    stroke: $primary_600;
  }

  .tick {
    font-family: $font-body;

    line {
      stroke: $primary_600;
    }

    text {
      fill: $primary_400;
    }
  }

  .domain {
    stroke-width: 3px;
    stroke: $primary_500;
    stroke-linecap: butt;
  }

  .line {
    stroke: $secondary_200;
    stroke-width: 2px;
    fill: none;
    stroke-linejoin: round;
    stroke-linecap: round;
  }

  .wiscviewer-profile-graph {
    background-color: $primary_800;
  }

  .axis-label {
    fill: $primary_500;
  }
}

.wiscviewer-mobile-feature-popup .wiscviewer-profile-tab {
    .lake-stats {
      stroke-width: 2px;
    }

    .domain {
      stroke-width: 4px;
    }

    .line {
      stroke-width: 3px;
    }

    .axis-label {
      font-size: 16px;
    }
}
