.wiscviewer-recession-table {
  margin-bottom: 0;
  font-size: 12px;
  color: $primary_900;

  tr {
    td,
    th {
      border: none !important;

      &:first-child {
        text-align: left;
        color: $primary_900;
      }

      &:last-child {
        text-align: right;
      }
    }
  }

  tr:nth-of-type(odd) {
    background-color: $primary_100;

    &:hover {
      background-color: $primary_100;
    }
  }

  tr:nth-of-type(even) {
    background-color: $primary_50;

    &:hover {
      background-color: $primary_50;
    }
  }
}

.wiscviewer-mobile-feature-popup .wiscviewer-recession-table {
  width: 100%;
  font-size: 14px;
}

.wiscviewer-recession-table-caption {
  color:rgba(38,50,56, 0.5);
  font-style: italic;
  padding: 5px 10px;
}
